*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
    
}
body{
    background-color: black;
    align-items: center;
}



h3{
    
    color: white;
    
    
}

header{
    background-color: black;

    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.menu {
    margin: 15px;
    
    
   
}

.menu a{
    color: white;
   margin: 15px;
    text-decoration: none; 
}
main{
    display: flex;
    align-items: center;
}
.img{
    
    
    margin-left: 45%;
    margin-top: 3%;
    
    
}

.i{
    
   
    width: 200px;
    height: 200px;
    
    border-radius: 100%;
}


    

.titulo{
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    
    
    
    


   
}
h1{
   color: white;
    text-align: center;
    margin-top: 15px;
    
}
